*{
	margin:0;
	padding:0;
}
.one{
	position: relative;
    min-height: 100%;
    background: white;
    min-width: 980px;
}
.one1{
	position: relative;
    width: 100%;
    height: 640px;
    min-width: 980px;
    background-color: #2d3a40;
}
.one2{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.one3{
	height: 640px;
    background: url(../出发吧/content1_bg-7cb3991281eedd065030e80f7ffd4634.jpg);
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    position: absolute;
}
.one4{
	height: 640px;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}
.one5{
	position:absolute;
    top:0px;
    margin-left:202px;
}
.one5 div{
	display: block;
    float: left;
    width: 124px;
    height: 48px;
    overflow: hidden;
    text-indent: -999em;
    background: url(../出发吧/download.png);
    background-size: 100% 100%;
    margin-top: 36px;
}
.one5 ul{
	float:left;
	line-height: 120px;
}
.one5 ul li{
	float: left;
    font-size: 20px;
    color: #fff;
    margin-left: 60px;
    position: relative;
    cursor: pointer;
    list-style: none;
}
.one6{
	position:absolute;
	top:0;
	margin-top:30px;
    width: 320px;
    height: 120px;
    float: left;
    margin-left: 757px;
    color:#fff;
}
.one6 div{
	position: relative;
	margin:0 0;
    width: 320px;
    height: 60px;
    display: inline-block;
    color:#fff;
}
.one6 div input{
	width: 320px;
    height: 60px;
    border: none;
    color:#fff;
    padding-left: 20px;
    padding-right: 60px;
    border-radius: 4px;
    line-height: 60px;
    background-color: rgba(255,255,255,0.1);
    box-sizing: border-box;
    font-size: 16px;
}
.one6 div button{
	border: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}
.one6 div button i{
	width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 14px;
    background: url(../出发吧/icon-3518a8793473b0760bf300374c9eb766.png);
}
.one7{
	display: inline-block;
    float: right;
    position: relative;
    margin-top: -663px;
    margin-left:0px;
    line-height: 120px;
    text-align: center;
    padding:23px 215px;
}
.one7 ul{
	margin-left:0;
}
.one7 ul li{
	float: left;
    font-size: 20px;
    color: #fff;
    margin:0 3px;
    list-style: none;
    cursor:pointer;
}
.one7 li ul a{
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	line-height: 120px;
	list-style: none;
	line-height: 120px;
}
.one8{
	position:absolute;
	margin-left: 185px;
	margin-top: -522px;
	width:1216px;
	height:0px;
	border:0.3px solid #ccc;
}
.one9{
	position: relative;
	top:-340px;
    width: 382px;
    height: 128px;
    margin-top: 0px;
    margin-left: 601px;
    display: inline-block;
    background: url(../出发吧/text-c9dd190a266de72d33a9876555306c72.png);
    background-repeat: no-repeat;
	cursor:pointer;
}
.one10{
    width: 100%;
    height: 480px;
    min-width: 980px;
}
.one11{
    width: 50%;
    float: left;
    height: 480px;
    background: url(../出发吧/bg1_a-7de9f3b8f34797bb1b54fe6fd514d7e5.png);
    text-align: center;
    margin:-132px 0px;
}
.one12{
    width: 100%;
    float: right;
    height: 480px;
}
.one12 div{
    width: 50%;
    float: left;
    height: 215px;
    background: url(../出发吧/custom-image1-31182b78bab8fc879e4f115cb2555100.png);
    text-align: center;
    margin:30px 186px;
}
.one12 p{
    margin:0 8px;
    color:#666;
}
.one12 button{
    width: 240px;
    height: 80px;
    line-height: 80px;
    font-size: 28px;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-top: 30px;
    background:#cdac65;
    cursor:pointer;
}
.one13{
    width: 50%;
    float: left;
    height: 480px;
    background: url(../出发吧/bg1_b-68c61dd6ae370b9cf8571ef216b6bfb3.png);
    text-align: center;
    margin:-132px 0;
}
.one14{
    width: 100%;
    float: left;
    height: 480px;
}
.one14 div{
     width: 50%;
    float: left;
    height: 215px;
    background: url(../出发吧/custom-image2-404bdc688c67366b44ff3c0cc3fd14a4.png);
    text-align: center;
    margin:30px 185px;
}
.one14 p{
    margin:0 11px;
    color:#666;
}
.one14 button{
    width: 240px;
    height: 80px;
    line-height: 80px;
    font-size: 28px;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-top: 30px;
    background:#3c9;
}
.one15{
    font-size: 40px;
    color: #2d3a40;
    text-align: center;
    height: 120px;
    margin-top:-95px;
}
.inner a li img{
    width:295px;
    height:475px;
}
.detail{
    height: 160px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding-left: 30px;
    padding-top: 63px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.8;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: linear-gradient(to top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
}
.pop-mark{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 475px;
    text-align: center;
    display: none;
}